.footer {
  background-color: $white;
  // z-index: -2;
  &__container {
    padding-top: 100px;
    display: flex;
    @include media(991){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &>:first-child{
        width: 100%;
        margin-bottom: 50px;
      }
      &>div{
        width: 30%;
      }
    }
    @include media(767){
      display: flex;
      flex-wrap: wrap;
      &>div{
        width: 48%;
      }
    }
    @include media(575){
      display: flex;
      &>div{
        width: 100%;
        margin-bottom: 50px;
      }
      &>div:nth-child(3){
        display: none;
      }
    }
  }

  &__column {
  }

  &__logo {
  }

  &__column-title {
    margin-bottom: 25px;
  }

  &__list {
    color: $black;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    display: block;
    margin-bottom: 10px;
    font-size: $p;
    line-height: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__address-block {
    font-style: normal;
  }

  &__img {
    margin-right: 10px;
  }

  &__copyright {
    width: 50%;
    margin: 100px auto 70px;
    text-align: center;
    opacity: 0.5;
    @include media(767){
      margin: 50px 30px;
      width: calc(100% - 60px);
    }
    @include media(575){
      font-size: 12px;
          line-height: 14px;
    }
  }
}
[class*=__block]{
  display: flex;
  margin-bottom: 20px;
}
.phone {

  &__block {
  }

  &__img {
  }

  &__numbers {
  }

  &__number {
  }
}
.email {

  &__block {
  }

  &__img {
  }

  &__link {
  }
}
.address {

  &__block {
  }

  &__img {
  }

  &__text {
    width: 240px;
  }
}