.header {
  width: 100%;
  &__container {
    
  }
  &__logo {
    &-img {
      width: 215px;
      @include media(575){
        width: 45vw;
      }
    }
  }
  &__menu{
    width: 40%;
  }
  &__top{
    height: rem($headerHeight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      height: 100px;
      width: 200%;
      background-color: #fff;
      opacity: 0.2;
      z-index: -1;
    }
  }
  &__content{
    
  }
}
.menu {
  &__list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    height: rem(62);
    &:first-child{
      @include media(991){
        display: none;
      }
    }
  }

  &__phone-button {
    width: rem(204);
    height: rem(52);
    border: 1px solid $red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  &__phone-number {
    color: $red;
    font-family: "Rubik", sans-serif;
  }

  &__link {

  }
  
  &__text {
    padding-right: 14px;
    font-family: 'Rubik', sans-serif;
    @include media(575){
      display: none;
    }
  }

  &__burger {
    
    &-img{
      width: 47px;
    }
  }
}
.languages{
  display: flex;
  align-items: center;
  padding-right: 23px;
  border-right: 1px solid $black;
  @include media(575){
    padding-right: 10px;
    border-right: none;
  }
  .language{
    &.active{
      font-weight: bold;
    }
  }
  .separator{
    padding: 0 5px;
  }
}
.dropdown-menu {
  width: 0;
  overflow: hidden;
  position: fixed;
  height: 100vh;
  z-index: 1000;
  opacity: 0;
  right: 0;
  background-color: $white;
  transition: all 1s;
  pointer-events: none;

  &__close {
    cursor: pointer; 
    position: absolute; 
    top: 20px; 
    left: 10px;
    &:before, &:after{
      content: ""; 
      position: absolute; 
      width: 24px; 
      height: 4px; 
      background: gray;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }

  &__navigation {

  }

  &__link {
    color: $black;
    text-align: right;
    &:hover{
      color: $red;
    }
    &.temp{
      opacity: 0.5;
    }
  }

  &__link-title, &__link-subtitle {
    font-size: 16px;
    line-height: 25px;
  }

  &__link-title {
    margin-bottom: 5px;
  }

  &__link-subtitle {
    margin-bottom: 40px;
  }
  
  @include media(575){
    padding: 80px;
  }
}
body.menu-open{
  overflow: hidden;
  .dropdown-menu{
    width: auto;
    pointer-events: all;
    padding: 80px;
    opacity: 1;
  }
}